/*

* * * * * * * * * * *
*                   *
*      main CSS     *
*                   *
* * * * * * * * * * *


## main css setter opp:

Skriftstørrelser
Farger for felels elementer
Header - Overskrift med menyer
NAV - menyer for navigering
Footer - Side avslutning med nyttige lenker

@media (max-width: 768px) {
  /* Styles for mobile devices /
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets /
  
}

@media (min-width: 1024px) {
  /* Styles for desktops /
  
}


*/
html{overflow-x: hidden;}
*{box-sizing: border-box;}

/* * * * * * * * * * *
** Skriftstørrelser  *
** * * * * * * * * * */
:root{
    font-size: 16px; /* 1rem = 16px */
    
    
    
    
    
}
/* * * * * * * * * * *
**      Farger       *
** * * * * * * * * * */
:root{
    
    --bg-color: #F7F7F7;
    --font-color-main: #767D86;
    --font-color-forms: #9598A8;
    --backgroundcolor-form-fields: #EBECF0;
    --bordercolor-form-fields: #E2E5EB;
    --font-color-menu-icons:#727888;
    --background-color-dark:#88898E;
    

}
body{
    width:100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

/* * * * * * * * * *
 *  mobile-header  *
 * * * * * * * * * */
header{
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 2em;
}
header div#logo-header{
    display:flex;
}
header > div#logo-header > img{
    align-self: center;
    margin: 0 .5rem 0 1rem;
    
    
}

#caption{
 display: flex;
 justify-content: center;   
}
#caption > h2{ 
    margin-left:2em;
}
#caption__left-arrow{
    font-size: 2em;
    align-self: center;
    
}

/* * * * * * * * * * * * * * *
 *      Login screen         *
 * * * * * * * * * * * * * * */
.hidden{visibility: hidden; position: absolute;}
#login-screen > #auth-form{
    margin: 2em ;
    display:flex;
    flex-direction: column;
    gap:1em;
    
}
header > #login-clickable{
    position: relative;
    display:flex;
    border-radius: 15px;
}
#login-screen{
    user-select: none;
    position: absolute;
    transform: translate(-220px, 50px);
    z-index: 2;
    width:300px;
    background-color:var(--bg-color);
    border:2px solid #c2c3c7;
    border-radius: 10px;
    transition: all 150ms ease-in ;
}
#login-screen button{
    border-radius: 20px;
    border: 1px solid var(--bordercolor-form-fields);
    background-color: var(--backgroundcolor-form-fields);
}
#login-screen input{
    border: 2px solid var(--bordercolor-form-fields);
}
#login-screen.hidden{
transform: translateY(-250px);
}
header  #login-symbol-background{
    font-size:13px;
    background-color: var(--backgroundcolor-form-fields);
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    align-self: center;
        
}
#login-symbol-background > svg{
    width:1.5em;
    transform:translateY(0.25em);
    
}
#login-clickable > span{
    align-self: center
}

#toggle-password .eye-open{ visibility: hidden;}
#login-screen-controllers{ 
    display: flex;
    justify-content: space-between;
}
#login-screen-controllers > svg {
    width:1.5em;
    color: var(--background-color-dark);
    
}
#inlog-info{
    display:flex;
    flex-direction: column;
    gap:1em;
    padding:3em;
}
#usr-inf2{
overflow-x: auto;
}
#inlog-info button{ color: brown}

/* * * * * * * * * * * * * * * * * *
**      Login screen stor skjerm   *
** * * * * * * * * * * * * * * * * */

@media (min-width: 900px) {
        header > #login-clickable:hover {
            cursor:pointer;
            text-decoration: underline;
            background-color: #ddd;
        }
#inlog-info :hover{cursor:pointer;}
        header > #login-clickable {
            padding:2em;
        }
}
 

/* * * * * * * * * * * * *
 *  mobile-footer menu   *
 * * * * * * * * * * * * */
#footer-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    border-top: 1px solid #e0e0e0;
}

.nav-item {
  font-size: 1.5rem; /*symbolene har width og height 2em som vil si 2 x verdien som velges her*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  color: #333;
}
.nav-item span {

    font-size: 1rem;
}

.nav-item svg{
    color:var(--font-color-menu-icons);
    
}
