


#page-grid{
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  column-gap: 50px;
  /*width: 100%;*/
  max-width: 1200px;
  
  row-gap: 10px;
  column-gap: 50px;
}
#caption__left-arrow{
 display:none;
    
}
#main-content {
  display: flex;
  flex-direction: column;
  gap:2em;
  grid-column: 2 / 3;
  grid-row: 1 / -1;  
}
#footer-menu{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width:100%;
  display:block;
  border:none;
}

#footer-menu .nav-item{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    font-size:1rem;
    background-color: white;
    padding: 3em 0 0 2em;
    
}
#footer-menu .nav-item:last-child{
    padding-bottom:3em;
}
#footer-menu span{
padding-left:1em;

}
.task button{
    display:none;

}