#tabs-wrap{
    color:coral;
    border: 2px solid coral;
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.tabs{
    border: 2px solid green;
    height: 600px;
    overflow-y: auto;
}
    #tab-fordeler{}
    #tab-ulempe{}
    #tab-must{}
    #tab-kombinasjon{}
    #tab-tanker{}
    #tab-konklusjon{}
